<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
<!--Con thymeleaf para validar los botonoes a los que se tiene acceso se usa el atributo authorize-->
            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/form}" class="btn btn-primary btn-xs">crear Jugador</a>
            </h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th sec:authorize="hasRole('ROLE_USER')">id</th>
                    <th th:text="#{text.jugador.nombre}">Nombre</th>
                    <th th:text="#{text.jugador.apellido}">Apellido</th>
                    <th th:text="#{text.jugador.dorsal}">Dorsal</th>
                    <th th:text="#{text.jugador.createAt}">Inscripición</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                    <!-- <th>Detalle</th>-->
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Crear Factura</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="jugador: ${jugadores}">
                    <td sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-primary btn-xs"
                           th:href="@{/ver/} + ${jugador.id}"
                           th:text="${jugador.id}">
                        </a>
                    </td>
                    <td th:text="${jugador.nombre}"></td>
                    <td th:text="${jugador.apellido1}"></td>
                    <td th:text="${jugador.dorsal}"></td>
                    <td th:text="${jugador.inscripcion}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-primary btn-xs"
                        th:href="@{/form/} + ${jugador.id}"
                        th:text="'Editar'">
                         </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-warning btn-xs"
                           th:href="@{/ver/} + ${jugador.id}"
                           th:text="'Detalle'">
                        </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-warning btn-xs"
                           th:href="@{'/donacion/form/' + ${jugador.id}}"
                           th:text="'Crear Factura'">
                        </a>
                    </td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-danger btn-xs"
                           th:href="@{/eliminar/} + ${jugador.id}"
                           th:text="'Eliminar'"
                           onclick="return confirm('¿Estas seguro que quieres elimiar?')">
                        </a>
                    </td>

                </tr>
                </tbody>

            </table>
            <nav th:replace="paginador :: paginator"></nav>


        </div>
    </div>


</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>